.upload-container {
  width: 75% !important;
  margin: auto;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 5px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}

.dropzone:focus {
  border-color: #2196f3;
}

.dropzone.drop {
  background-color: rgba(0,0,0,0.05);
}
.dropzone.error {
  border-color: red;
}

@media (max-width: 767px) {
  .upload-container {
    width: 100% !important;
  }
}